USE [master]
GO
/****** Object:  Database [WebsiteDatLichKhamBenh]    Script Date: 02/02/2026 4:07:59 CH ******/
CREATE DATABASE [WebsiteDatLichKhamBenh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebsiteDatLichKhamBenh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebsiteDatLichKhamBenh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebsiteDatLichKhamBenh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebsiteDatLichKhamBenh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebsiteDatLichKhamBenh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebsiteDatLichKhamBenh]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 02/02/2026 4:08:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[statusId] [nvarchar](50) NULL,
	[doctorId] [int] NULL,
	[patientId] [int] NULL,
	[date] [nvarchar](255) NULL,
	[timeType] [nvarchar](50) NULL,
	[token] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinics]    Script Date: 02/02/2026 4:08:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[descriptionHTML] [nvarchar](max) NULL,
	[descriptionMarkdown] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor_Info]    Script Date: 02/02/2026 4:08:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor_Info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctorId] [int] NULL,
	[specialtyId] [int] NULL,
	[clinicId] [int] NULL,
	[priceId] [nvarchar](50) NULL,
	[provinceId] [nvarchar](50) NULL,
	[paymentId] [nvarchar](50) NULL,
	[addressClinic] [nvarchar](255) NULL,
	[nameClinic] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_History]    Script Date: 02/02/2026 4:08:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patientId] [int] NULL,
	[doctorId] [int] NULL,
	[description] [nvarchar](max) NULL,
	[drugs] [nvarchar](max) NULL,
	[files] [varbinary](max) NULL,
	[reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 02/02/2026 4:08:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[image] [varbinary](max) NULL,
	[descriptionHTML] [nvarchar](max) NULL,
	[descriptionMarkdown] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/02/2026 4:08:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[firstName] [nvarchar](255) NULL,
	[lastName] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[phonenumber] [nvarchar](20) NULL,
	[gender] [nvarchar](20) NULL,
	[image] [varbinary](max) NULL,
	[roleId] [nvarchar](50) NULL,
	[positionId] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([patientId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Patient] FOREIGN KEY([patientId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Patient]
GO
ALTER TABLE [dbo].[Doctor_Info]  WITH CHECK ADD FOREIGN KEY([clinicId])
REFERENCES [dbo].[Clinics] ([id])
GO
ALTER TABLE [dbo].[Doctor_Info]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Doctor_Info]  WITH CHECK ADD FOREIGN KEY([specialtyId])
REFERENCES [dbo].[Specialties] ([id])
GO
ALTER TABLE [dbo].[Doctor_Info]  WITH CHECK ADD  CONSTRAINT [FK_DoctorInfo_Clinic] FOREIGN KEY([clinicId])
REFERENCES [dbo].[Clinics] ([id])
GO
ALTER TABLE [dbo].[Doctor_Info] CHECK CONSTRAINT [FK_DoctorInfo_Clinic]
GO
ALTER TABLE [dbo].[Doctor_Info]  WITH CHECK ADD  CONSTRAINT [FK_DoctorInfo_Specialty] FOREIGN KEY([specialtyId])
REFERENCES [dbo].[Specialties] ([id])
GO
ALTER TABLE [dbo].[Doctor_Info] CHECK CONSTRAINT [FK_DoctorInfo_Specialty]
GO
ALTER TABLE [dbo].[Doctor_Info]  WITH CHECK ADD  CONSTRAINT [FK_DoctorInfo_User] FOREIGN KEY([doctorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Doctor_Info] CHECK CONSTRAINT [FK_DoctorInfo_User]
GO
ALTER TABLE [dbo].[Patient_History]  WITH CHECK ADD FOREIGN KEY([doctorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Patient_History]  WITH CHECK ADD FOREIGN KEY([patientId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Patient_History]  WITH CHECK ADD  CONSTRAINT [FK_PatientHistory_Doctor] FOREIGN KEY([doctorId])
REFERENCES [dbo].[Doctor_Info] ([id])
GO
ALTER TABLE [dbo].[Patient_History] CHECK CONSTRAINT [FK_PatientHistory_Doctor]
GO
USE [master]
GO
